*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    width: 100vw;
    height: 100vh;
    background-color: #89CFF0;
}


.btn-container{
    height: 650px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns:auto auto auto;
}

.square{
    border: none;
    width: 200px;
    height: 200px;
    background-color: #89CFF0;  
}

.right{
    border-right: solid black 4px ;
}
.bottom{
    border-bottom: solid black 4px ;
}

.messageContainer{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.messageContainer> .message{
   width: 520px;
   height: 132px;
    position: relative;
    top: 60vh;

    color:white;
    font-size: 5rem;
    background-color:  rgb(63, 147, 147);
    padding: 20px;
    border-radius: 14px;
    display: flex;
    align-items: center;

    justify-content: center;

    box-shadow: 0 3px 10px rgba(63, 147, 147,0.8);
    
}

.play-again{
    margin-left: 20px;
    padding: 2px;
    font-size: 3rem;
    background-color: rgb(63, 147, 147);
    color: white;
    border: white 2px solid;
    border-radius: 6px;
}

.play-again:hover{
    cursor: pointer;
}

.play-again:active{
    
    background-color:white ;
    color: rgb(63, 147, 147);
    border: white 2px solid;
}

@media screen and (max-width:700px) {
   
    .square{
        
        width: 100px;
        height: 100px;
         
    }

    img{
        width: 100px;
        height: 100px;
    }

    .messageContainer> .message{
        font-size: 3rem;
        width: 320px;
        height: 80px;
        padding: 0;
    }
    .play-again{
        font-size: 1.5rem;   
    }
}
